$primary: #1abc9c;
$secondary: #2c3e50;

// Body
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$body-bg: rgba(250, 245, 255, 0.5);
$body-color:#212529;

// Buttons
$btn-font-weight: 700;

// Headings
// $headings-color: $primary;
$headings-font-weight: 700;

// Links
$link-decoration: none;
$link-hover-decoration: none;